<meta http-equiv="refresh" content="2">
<!-- Template appelé lorsque que l'on est sur une page de conversation. Affiche les pseudos des utilisateurs participants à la conversation, et les messages, leur auteur et leur date d'envoi. Cette page est rafraichie toute les  -->

{% extends "base.html" %}

{% block content %}


<h1> Conversation {{id_conversation}}  -  Participants: {% for utilisateur in conversation_courante.participants.all %} {{utilisateur.pseudo}} {% endfor %}</h1>


{% for message in conversation_courante.messages.all %}

<i>{{message.date}}</i> <b>{{message.auteur}} </b> : {{message.texte}} <br>

{% endfor %}

{% endblock %}


