<!-- Page d'inscription. Appelle un formulaire qui récupère les informations, vérifies qu'elles ne sont pas prises et enregistre le nouvel utilisateur.-->
{% extends "base.html" %}

    {% block title %} Page d'inscription {% endblock %}
    {% block css %} <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}css/inscription.css"> {% endblock %}

{% block content %}

<h1>Page d'inscription</h1>

    <form id="inscription" action="{% url "discussion.views.inscription" %}" method="post" class="niceform" novalidate>{% csrf_token %}
       

{% csrf_token %}
        <dl>
            <dt>{{ form.pseudo.label_tag }} </dt>
            <dd>{{ form.pseudo }}</dd>
            <dd>{{ form.pseudo.errors }}</dd>
        </dl>
        <dl>
            <dt>{{ form.telephone.label_tag }} </dt>
            <dd>{{ form.telephone }}</dd>
            <dd>{{ form.telephone.errors }}</dd>
        </dl>
        <dl>
            <dt>{{ form.email.label_tag }} </dt>
            <dd>{{ form.email }}</dd>
            <dd>{{ form.email.errors }}</dd>
        </dl>
        <dl>
            <dt>{{ form.mdp.label_tag }} </dt>
            <dd>{{ form.mdp }}</dd>
            <dd>{{ form.mdp.errors }}</dd>
        </dl>
        
        <div class="break">
            <input type="submit" value="S'inscrire!" />
        </div>
    </form>

{% endblock %}
